* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4a4a4a;
}

body { 
    min-height: 100vh; 
}

.darkgray {
    font-weight: bold;
}

.lightgray {
    color: #9b9b9b;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
}

h3 {
    font-size: 1.5rem;
}

a.button {
    background-color: #4a4a4a;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    width: 100%;
    line-height: 2rem;
}

/* Header */

header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

img#logo {
    height: 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    line-height: 2rem;
}

nav.menu {
    display: flex;
}

nav.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav.menu li {
    margin: auto 0.5rem;
}

/* Main */

/* Banner */

.banner {
    background-color: #d8d8d8;
    padding: 0;
    display: flex;
}

.banner .img {
    padding: 2rem 1.5rem;
    flex: 60rem;
    /* background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.banner .img img {
    width: 100%;
}   

.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8rem;
    flex: 40rem;
}

.banner h1 {
    margin-bottom: 1.5rem;
}

.banner p {
    margin-bottom: 2rem;
    font-weight: 800;
}

/* Information */

.information {
    background-color: white;
    padding: 0;
    display: inline-flex;
}

.information .img {
    padding: 2rem 1.5rem;
    flex: 60rem;
    display: flex;
    flex-direction: column;
}

.information .img img {
    width: 100%;
}

.information .img .text {
    margin-top: 2rem;
}

.information .img .text p {
    margin-top: 1.5rem;
}

.information .img .text p.name {
    font-size: 0.8rem;
    margin-top: 3rem;
}

.information .news {
    display: flex;
    flex-direction: column;
    flex: 40rem;
    padding: 1rem 0 0 0;
    border-left: 1px solid #d8d8d8;
}

.information .news .info {
    display: inline-flex;
}

.information .news .info.orientation {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 0;
}

.information .news .info.grayBG {
    background-color: #d8d8d8;
}

.information .news .info .img {
    flex: 35%;
    padding: 1rem;
}

.information .news .info .img img {
    width: 100%;
}

.information .news .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
}

.information .news .info .text h3 {
    margin-bottom: 0.2rem;
}

.information .news .info .text p {
    margin-bottom: 0.5rem;
}

.information .news .info .text a {
    text-decoration: none;
    color: #4a90e2;
    font-size: 0.9rem;
}

/* Start */

.start {
    background-color: #4a4a4a;
    height: 200px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer li {
    margin: auto 0.5rem;
    font-size: 0.8rem;
}

footer p {
    font-size: 0.8rem;
}