* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4a4a4a;
}

body { 
    min-height: 100vh; 
}

.darkgray {
    font-weight: bold;
}

.lightgray {
    color: #9b9b9b;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
}

a.button {
    background-color: #4a4a4a;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    width: 100%;
    line-height: 2rem;
}

/* Header */

header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

img#logo {
    height: 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    line-height: 2rem;
}

nav.menu {
    display: flex;
}

nav.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav.menu li {
    margin: auto 0.5rem;
}

/* Main */

/* Banner */

.banner {
    background-color: #d8d8d8;
    padding: 2rem 8rem 2rem 1.5rem;
    display: flex;
}

.banner .img {
    width: 60%;
    margin-right: 1.5rem;
}

.banner .img img {
    width: 100%;
}

.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    margin-bottom: 1.5rem;
}

.banner p {
    margin-bottom: 2rem;
    font-weight: 800;
}

/* .banner a {
    text-decoration: none;
    color: white;
    background-color: #4a4a4a;
    background-size: cover;
} */

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer li {
    margin: auto 0.5rem;
    font-size: 0.8rem;
}

footer p {
    font-size: 0.8rem;
}