* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4a4a4a;
}

body { 
    min-height: 100vh; 
}

.darkgray {
    font-weight: bold;
}

.lightgray {
    color: #9b9b9b;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
}

h3 {
    font-size: 1.5rem;
}

a.button {
    background-color: #4a4a4a;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    width: 100%;
    line-height: 2rem;
}

/* Header */

header.mobile {
    display: none;
}

header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

img#logo {
    height: 2rem;
}

a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

a.logo p {
    line-height: 2rem;
}

nav.menu {
    display: flex;
}

nav.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav.menu li {
    margin: auto 0.5rem;
}

nav.menu li a {
    text-decoration: none;
}

/* Main */

/* Banner */

.banner {
    background-color: #d8d8d8;
    padding: 0;
    display: flex;
}

.banner .img {
    padding: 2rem 1.5rem;
    flex: 60rem;
    /* background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.banner .img img {
    width: 100%;
}   

.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-right: 8rem; */
    padding: 4rem 8rem 4rem 0;
    flex: 40rem;
}

.banner h1 {
    margin-bottom: 1.5rem;
}

.banner p {
    margin-bottom: 2rem;
    font-weight: 800;
}

/* Information */

.information.mobile {
    display: none;
}

.information {
    background-color: white;
    padding: 0;
    display: inline-flex;
}

.information .img {
    padding: 2rem 1.5rem;
    flex: 60rem;
    display: flex;
    flex-direction: column;
}

.information .img img {
    width: 100%;
}

.information .img .text {
    margin-top: 2rem;
}

.information .img .text p {
    margin-top: 1.5rem;
}

.information .img .text p.name {
    font-size: 0.8rem;
    margin-top: 3rem;
}

.information .news {
    display: flex;
    flex-direction: column;
    flex: 40rem;
    padding: 1rem 0 0 0;
    border-left: 1px solid #d8d8d8;
}

.information .news .info {
    display: inline-flex;
}

.information .news .info.orientation {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 0;
}

.information .news .info.grayBG {
    background-color: #d8d8d8;
}

.information .news .info .img {
    flex: 35%;
    padding: 1rem;
}

.information .news .info .img img {
    width: 100%;
}

.information .news .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
}

.information .news .info .text h3 {
    margin-bottom: 0.2rem;
}

.information .news .info .text p {
    margin-bottom: 0.5rem;
}

.information .news .info .text a {
    text-decoration: none;
    color: #4a90e2;
    font-size: 0.9rem;
}

/* Start */

.start {
    background-color: #d8d8d8;
    padding: 2rem 4rem;
}

.start h1 {
    text-align: center;
    line-height: 100%;
    margin-bottom: 2rem ;
}

.start .grid {
    display: flex;
}

.start .grid.second {
    margin-top: 2rem;
}

.start .grid .box {
    background-color: white;
    flex: 30%;
}

.start .grid .box img {
    width: 100%;
}

.start .grid .box.middle {
    margin: 0 2rem;
}

.start .grid {
    display: flex;
}

.start .grid .box .text {
    padding: 1rem 1rem 1.5rem 1rem;
}

.start .grid .box .text h4  {
    margin: 0.5rem auto;
}

/* Exhibit */

.exhibit {
    background-color: white;
    padding: 2rem 0 0 1.5rem;
}

.exhibit h1 {
    text-align: center;
    line-height: 100%;
    margin-bottom: 2rem ;
}

.exhibit .row {
    display: flex;
}

.exhibit .row .vid {
    padding: 0 1.5rem 2rem 1.5rem;
    flex: 60rem;
    display: flex;
    flex-direction: column;
}

.exhibit .row .vid video {
    width: 100%;
}

.exhibit .row .news {
    flex: 40rem;
    display: flex;
    flex-direction: column;
    flex: 40rem;
    padding: 0;
    /* border-left: 1px solid #d8d8d8; */
}

.exhibit .row .news .info.grayBG {
    background-color: #d8d8d8;
}

.exhibit .row .news .info.grayBG {
    background-color: #d8d8d8;
}

.exhibit .row .news .info.whiteBG {
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}

.exhibit .row .vid .text h3 {
    margin: 1.5rem 0 0.5rem 0;
}

.exhibit .row .vid .text p {
    margin-bottom: 2rem;
}

.exhibit .row .news .info {
    display: inline-flex;
}

.exhibit .row .news .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 65%;
}

.exhibit .row .news .info .img {
    flex: 35%;
    padding: 1rem;
}

.exhibit .row .news .info .img img {
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 3rem 1.5rem;
    /* background-color: #4a4a4a; */
    border-top: 1px solid #d8d8d8;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer li {
    margin: auto 0.5rem;
    font-size: 0.8rem;
}

footer p {
    font-size: 0.8rem;
}

/* RESIZE */

@media only screen and (max-width: 1126px) {
    .banner .text {
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 940px) {
    * {
        font-size: 14px;
    }
    .banner .text {
        padding-right: 2rem;
    }
    .banner .text h1, .information .text h1 {
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    .news .info .text h3 {
        font-size: 1.2rem;
    }
    .news .info .text p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 12px;
    }
    header.mobile {
        display: flex;
        justify-content: space-between;
    }
    header.desktop {
        display: none;
    }

    .banner {
        display: block;
    }
    .banner .img {
        padding: 0;
    }
    .banner .text {
        padding: 2.67rem 1.33rem;
    }
    .banner .text h1, .information .text h1 {
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    .news .info .text h3 {
        font-size: 1.2rem;
    }
    .news .info .text p {
        font-size: 0.8rem;
    }
    .information {
        display: block;
        padding: 1.33rem;
    }
    .information .img {
        display: none;
    }
    .information.desktop {
        display: none;
    }
    .information.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.33rem 1.33rem 0 1.33rem;
        border-bottom: 1px solid #d8d8d8;
    }
    .information.mobile img {
        width: 100%;
    }
    .information.mobile .info {
        padding-bottom: 4rem;
    }
    .information.mobile .info a {
        text-decoration: none;
        color: #4a90e2;
        font-size: 1rem;
    }
    .information.mobile .info h3,
    .information.mobile .info p,
    .information.mobile .info a {
        margin-left: 1.33rem;
    }
    .information.mobile .info h3 {
        margin-top: 1rem;
        margin-bottom: 0.2rem;
    }
    .information.mobile .info p {
        margin-bottom: 0.33rem;
    }
    /* START */
    .start {
        background-color: white;
        padding: 2.66rem 1.33rem;
        border-bottom: 1px solid #d8d8d8;
    }
    
     img,
    .start .grid .box .text h4,
    .start .grid .box .text p {
        display: none;
    }
    .start .grid {
        display: flex;
        flex-direction: column;
        text-align: left;
        /* background-color: #d8d8d8; */
    }
    .start .grid .box .text h3 {
        line-height: 1.5rem;
    }
    .start .grid .box .text {
        background-color: #d8d8d8;
        /* width: 100%; */
    }
    .start .grid .box.middle {
        margin: 2rem 0;
    }
    .start .grid .box .text {
        padding: 1.8rem;
    }
}
